<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481381574389-46vbvq2j154v86t37fpdb79etoegt073.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481381574389-46vbvq2j154v86t37fpdb79etoegt073</string>
	<key>API_KEY</key>
	<string>AIzaSyDkZ-TsyK0_gusEKmqY_SZHSi227agnx_E</string>
	<key>GCM_SENDER_ID</key>
	<string>481381574389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cwi.mari.app-tem-convenio-cwi</string>
	<key>PROJECT_ID</key>
	<string>tem-convenio-cwi</string>
	<key>STORAGE_BUCKET</key>
	<string>tem-convenio-cwi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481381574389:ios:cf3b43596aaa5462</string>
	<key>DATABASE_URL</key>
	<string>https://tem-convenio-cwi.firebaseio.com</string>
</dict>
</plist>